<!--顶部样式--> 
<div class="top_header">
<em class="left_img"></em>
<div class="header clearfix" id="header">
<a href="#" class="logo_img"><img src="../../../Public/images/logo.png" /></a>
<div class="header_Section">
 <div class="shortcut">
  <ul>
  <?php session_start(); if(empty($_SESSION['name'])){
  ?>
  <li  class="hd_menu_tit"><em class="login_img"></em><a href='http://www.vegetable.com/index.php/Home/Login/index'>登录</a></li>
   <li  class="hd_menu_tit"><em  class="registered_img"></em><a href="http://www.vegetable.com/index.php/Home/Login/registered">注册</a></li>
   <li  class="hd_menu_tit"><em class="Collect_img"></em><a href="javascript:void(0)" id="fav">收藏夹</a></li>
    <li  class="hd_menu_tit list_name" data-addclass="hd_menu_hover"><a href="#">网站导航</a><em class="navigation_img"></em>
   <?php
  }else{
  ?>
  <li  class="hd_menu_tit"><em class="login_img"></em>[<?php echo $_SESSION['name']['unickname']?>]</li>
   <li  class="hd_menu_tit"><em  class="registered_img"></em><a href="http://www.vegetable.com/index.php/Home/Login/out">退出</a></li>
    <li  class="hd_menu_tit"><em class="Collect_img"></em><a href="javascript:void(0)" id="fav">收藏夹</a></li>
   <li  class="hd_menu_tit"><em class="cart_img"></em><a href="http://www.vegetable.com/index.php/Home/active/shopping_cart">购物车（<?php echo $_COOKIE['k']?>）</a></li>
   <!-- <li  class="hd_menu_tit list_name" data-addclass="hd_menu_hover"><a href="#">网站导航</a><em class="navigation_img"></em>-->
  <?php }?>
   
   
     
   <!--  <div class="hd_menu_list">
     <span class="wire"></span>
		   <ul>
		    <li><a href="#">常见问题</a></li>
			<li><a href="#">在线退换货</a></li>
		    <li><a href="#">在线投诉</a></li>
			<li><a href="#">配送范围</a></li>
		   </ul>
		</div>	
   </li> -->
  </ul>
 </div>
 
 <div class="nav" id="Navigation">
  <ul class="Navigation_name"> 
   <li class=""><a href='http://www.vegetable.com' __taget='self'>首页</a></li>

   <li class=""><a href='http://www.vegetable.com/index.php/Home/Active/index'>活动专区</a></li>
   <li class=""><a href='http://www.vegetable.com/index.php/Home/Fruits/index'>水果馆</a></li>
   
   <?php session_start(); if(empty($_SESSION['name'])){
  ?>
   <?php
  }else{
  ?>
  <li class=""><a href='http://www.vegetable.com/index.php/Home/User/index'>会员中心</a></li>
  <?php }?>
  </ul>
 </div>
 <script>$("#Navigation").slide({titCell:".Navigation_name li"});</script>
</div>
</div>
<em class="right_img"></em>
</div>

<script type="text/javascript">
//收藏本站代码
jQuery.fn.addFavorite = function(l, h) {
    return this.click(function() {
        var t = jQuery(this);
        if(jQuery.browser.msie) {
            window.external.addFavorite(h, l);
        } else if (jQuery.browser.mozilla || jQuery.browser.opera) {
            t.attr("rel", "sidebar");
            t.attr("title", l);
            t.attr("href", h);
        } else {
            alert("请使用Ctrl+D将本页加入收藏夹！");
        }
    });
};
$(function(){
    $('#fav').addFavorite('花果山特色馆',location.href);
});
</script>