<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__PUBLIC__/css/css.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/common.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/js/jquery.min.1.8.2.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
<script type="text/javascript" src="__PUBLIC__/js/slider.js"></script>
<script src="__PUBLIC__/js/common_js.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/jquery.foucs.js" type="text/javascript"></script>
<!--[if IE 7]>
<link rel="stylesheet" href="__PUBLIC__/assets/css/font-awesome-ie7.min.css">
<![endif]-->
<title>产品列表页</title>
</head>

<body>
<!--顶部样式-->
<?php 
		include('./Application/Home/View/Public/header.html'); 
	//echo file_get_contents('http://www.vegetable.com/__APP__/Home/public/header');

 ?>
<!---->
<div><a href="__PUBLIC__/#"><img src="__PUBLIC__/images/AD_page_img_02.png" width="100%"/></a></div>
<!--位置-->
<div class="Bread_crumbs">
 <div class="Inside_pages clearfix">
   <div class="left">当前位置：<a href="__PUBLIC__/#">首页</a>&gt;<a href="__PUBLIC__/#">素菜馆</a></div>
   <div class="right Search">
   <form>
    <input name="" type="text"  class="Search_Box"/>
    <input name="" type="button"  name="" class="Search_btn"/>
    </form>
   </div>
 </div>
</div>
<!--产品列表-->
<div class="Inside_pages clearfix">
<div class="margintop">
 <DIV class="left_style">
   <div class="title_img_p"><img src="__PUBLIC__/images/p_shuiguo_img.png" /></div>
   <div class="ranking">
    <div class="ranking_title"><span>销量</span>排行</div>
    <ul class="ranking_list">
     <li class="">
     <em class="ranking_label">1</em>
     <a href="__PUBLIC__/#" class="img"> <img src="__PUBLIC__/images/product_img_17.png" width="100px" height="100px" /></a>
     <p class="ranking_name">浦江特产绿豌豆天然无污染</p>
     <p class="price"><b>￥</b>12.54</p>
     <p><a href="__PUBLIC__/#">立即查看< </a></p>
     </li>
     <li class="">
     <em class="ranking_label">2</em>
     <a href="__PUBLIC__/#" class="img"> <img src="__PUBLIC__/images/product_img_17.png" width="100px" height="100px" /></a>
     <p class="ranking_name">浦江特产绿豌豆天然无污染</p>
     <p class="price"><b>￥</b>12.54</p>
     <p><a href="__PUBLIC__/#">立即查看< </a></p>
     </li><li class="">
     <em class="ranking_label">3</em>
     <a href="__PUBLIC__/#" class="img"> <img src="__PUBLIC__/images/product_img_17.png" width="100px" height="100px" /></a>
     <p class="ranking_name">浦江特产绿豌豆天然无污染</p>
     <p class="price"><b>￥</b>12.54</p>
     <p><a href="__PUBLIC__/#">立即查看< </a></p>
     </li><li class="">
     <em class="ranking_label">4</em>
     <a href="__PUBLIC__/#" class="img"> <img src="__PUBLIC__/images/product_img_17.png" width="100px" height="100px" /></a>
     <p class="ranking_name">浦江特产绿豌豆天然无污染</p>
     <p class="price"><b>￥</b>12.54</p>
     <p><a href="__PUBLIC__/#">立即查看< </a></p>
     </li><li class="">
     <em class="ranking_label">5</em>
     <a href="__PUBLIC__/#" class="img"> <img src="__PUBLIC__/images/product_img_17.png" width="100px" height="100px" /></a>
     <p class="ranking_name">浦江特产绿豌豆天然无污染</p>
     <p class="price"><b>￥</b>12.54</p>
     <p><a href="__PUBLIC__/#">立即查看< </a></p>
     </li>
    </ul>
   </div>
 </DIV>
 <DIV class="right_style">
    <ul class="list_style">
     <li class="clearfix">
       <div class="product_lists clearfix">
        <a href="__PUBLIC__/#" class="Collect"></a>
        <a href="__PUBLIC__/#"><img src="__PUBLIC__/images/product_img_17.png" /></a>
        <p class="title_p_name">浦江多汁红提</p>
        <p class="title_Profile">绿色有机天然无污染</p>
        <p class="price"><b>￥</b>13.5</p>
        <p class="btn_style"><a href="__APP__/Home/Xiangqing/index" class="buy_btn"></a><a href="__APP__/Home/Xiangqing/index" class="Join_btn"></a></p>
        </div>
       </li>
        <li class="clearfix">
       <div class="product_lists clearfix">
       <a href="__PUBLIC__/#" class="Collect"></a>
        <a href="__PUBLIC__/#"><img src="__PUBLIC__/images/product_img_17.png" /></a>
        <p class="title_p_name">浦江多汁红提</p>
        <p class="title_Profile">绿色有机天然无污染</p>
        <p class="price"><b>￥</b>13.5</p>
        <p class="btn_style"><a href="__APP__/Home/Xiangqing/index" class="buy_btn"></a><a href="__APP__/Home/Xiangqing/index" class="Join_btn"></a></p>
        </div>
       </li>
        <li class="clearfix">
       <div class="product_lists clearfix">
       <a href="__PUBLIC__/#" class="Collect"></a>
        <a href="__PUBLIC__/#"><img src="__PUBLIC__/images/product_img_17.png" /></a>
        <p class="title_p_name">浦江多汁红提</p>
        <p class="title_Profile">绿色有机天然无污染</p>
        <p class="price"><b>￥</b>13.5</p>
        <p class="btn_style"><a href="__APP__/Home/Xiangqing/index" class="buy_btn"></a><a href="__APP__/Home/Xiangqing/index" class="Join_btn"></a></p>
        </div>
       </li>
        <li class="clearfix">
       <div class="product_lists clearfix">
       <a href="__PUBLIC__/#" class="Collect"></a>
        <a href="__PUBLIC__/#"><img src="__PUBLIC__/images/product_img_17.png" /></a>
        <p class="title_p_name">浦江多汁红提</p>
        <p class="title_Profile">绿色有机天然无污染</p>
        <p class="price"><b>￥</b>13.5</p>
        <p class="btn_style"><a href="__APP__/Home/Xiangqing/index" class="buy_btn"></a><a href="__APP__/Home/Xiangqing/index" class="Join_btn"></a></p>
        </div>
       </li>
        <li class="clearfix">
       <div class="product_lists clearfix">
       <a href="__PUBLIC__/#" class="Collect"></a>
        <a href="__PUBLIC__/#"><img src="__PUBLIC__/images/product_img_17.png" /></a>
        <p class="title_p_name">浦江多汁红提</p>
        <p class="title_Profile">绿色有机天然无污染</p>
        <p class="price"><b>￥</b>13.5</p>
        <p class="btn_style"><a href="__APP__/Home/Xiangqing/index" class="buy_btn"></a><a href="__APP__/Home/Xiangqing/index" class="Join_btn"></a></p>
        </div>
       </li> <li class="clearfix">
       <div class="product_lists clearfix">
        <a href="__PUBLIC__/#"><img src="__PUBLIC__/images/product_img_17.png" /></a>
        <p class="title_p_name">浦江多汁红提</p>
        <p class="title_Profile">绿色有机天然无污染</p>
        <p class="price"><b>￥</b>13.5</p>
        <p class="btn_style"><a href="__APP__/Home/Xiangqing/index" class="buy_btn"></a><a href="__APP__/Home/Xiangqing/index" class="Join_btn"></a></p>
        </div>
       </li> <li class="clearfix">
       <div class="product_lists clearfix">
        <a href="__PUBLIC__/#"><img src="__PUBLIC__/images/product_img_17.png" /></a>
        <p class="title_p_name">浦江多汁红提</p>
        <p class="title_Profile">绿色有机天然无污染</p>
        <p class="price"><b>￥</b>13.5</p>
        <p class="btn_style"><a href="__APP__/Home/Xiangqing/index" class="buy_btn"></a><a href="__APP__/Home/Xiangqing/index" class="Join_btn"></a></p>
        </div>
       </li>
        <li class="clearfix">
       <div class="product_lists clearfix">
        <a href="__PUBLIC__/#"><img src="__PUBLIC__/images/product_img_17.png" /></a>
        <p class="title_p_name">浦江多汁红提</p>
        <p class="title_Profile">绿色有机天然无污染</p>
        <p class="price"><b>￥</b>13.5</p>
        <p class="btn_style"><a href="__APP__/Home/Xiangqing/index" class="buy_btn"></a><a href="__APP__/Home/Xiangqing/index" class="Join_btn"></a></p>
        </div>
       </li>
        <li class="clearfix">
       <div class="product_lists clearfix">
        <a href="__PUBLIC__/#"><img src="__PUBLIC__/images/product_img_17.png" /></a>
        <p class="title_p_name">浦江多汁红提</p>
        <p class="title_Profile">绿色有机天然无污染</p>
        <p class="price"><b>￥</b>13.5</p>
        <p class="btn_style"><a href="__APP__/Home/Xiangqing/index" class="buy_btn"></a><a href="__APP__/Home/Xiangqing/index" class="Join_btn"></a></p>
        </div>
       </li>
        <li class="clearfix">
       <div class="product_lists clearfix">
        <a href="__PUBLIC__/#"><img src="__PUBLIC__/images/product_img_17.png" /></a>
        <p class="title_p_name">浦江多汁红提</p>
        <p class="title_Profile">绿色有机天然无污染</p>
        <p class="price"><b>￥</b>13.5</p>
        <p class="btn_style"><a href="__APP__/Home/Xiangqing/index" class="buy_btn"></a><a href="__APP__/Home/Xiangqing/index" class="Join_btn"></a></p>
        </div>
       </li>
        <li class="clearfix">
       <div class="product_lists clearfix">
        <a href="__PUBLIC__/#"><img src="__PUBLIC__/images/product_img_17.png" /></a>
        <p class="title_p_name">浦江多汁红提</p>
        <p class="title_Profile">绿色有机天然无污染</p>
        <p class="price"><b>￥</b>13.5</p>
        <p class="btn_style"><a href="__APP__/Home/Xiangqing/index" class="buy_btn"></a><a href="__APP__/Home/Xiangqing/index" class="Join_btn"></a></p>
        </div>
       </li>
        <li class="clearfix">
       <div class="product_lists clearfix">
        <a href="__PUBLIC__/#"><img src="__PUBLIC__/images/product_img_17.png" /></a>
        <p class="title_p_name">浦江多汁红提</p>
        <p class="title_Profile">绿色有机天然无污染</p>
        <p class="price"><b>￥</b>13.5</p>
        <p class="btn_style"><a href="__APP__/Home/Xiangqing/index" class="buy_btn"></a><a href="__APP__/Home/Xiangqing/index" class="Join_btn"></a></p>
        </div>
       </li> <li class="clearfix">
       <div class="product_lists clearfix">
        <a href="__PUBLIC__/#"><img src="__PUBLIC__/images/product_img_17.png" /></a>
        <p class="title_p_name">浦江多汁红提</p>
        <p class="title_Profile">绿色有机天然无污染</p>
        <p class="price"><b>￥</b>13.5</p>
        <p class="btn_style"><a href="__APP__/Home/Xiangqing/index" class="buy_btn"></a><a href="__APP__/Home/Xiangqing/index" class="Join_btn"></a></p>
        </div>
       </li>
    </ul>
 </DIV>
 </div>
</div>
<!--底部样式-->
<?php include('./Application/Home/View/Public/footer.html'); ?>
</body>
</html>
